.player-ui {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 100;
}

.player-ui > section {
    display: flex;
    align-items: center;
}

.player-ui > section .AVATAR {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url("/assets/knight.png");
    background-size: cover;
    background-position: center;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 0 0 20px 0 black;
    border-radius: 0.5rem;
    z-index: 2;
}

.player-ui > section .BARS {
    position: relative;
    flex-shrink: 0;
    transform: translateX(-2px);
    z-index: 1;
}

.player-ui > section .healthbar-container {
    position: relative;
    width: 400px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 0.5rem;
    border-radius: 0 999px 999px 0;
    border: 2px solid black;
}

.player-ui > section .staminabar-container {
    position: relative;
    width: 300px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 999px 999px 0;
    border: 2px solid black;
    overflow: hidden;
}

#healthbar {
    height: 100%;
    background-color: red;
    transition: width 0.1s linear;
}

#staminabar {
    height: 100%;
    background-color: limegreen;
    transition: width 0.1s linear;
}

#player {
    position: absolute;
    top: 50%;
    left: 50%;
    /* border: 1px solid red; */
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    z-index: 50;
}

#player .rotation-level, #player .scale-level {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Head */
#player main .head {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darkslategrey;
    border: 2px solid darkgrey;
    border-radius: 999px;
    overflow: hidden;
    z-index: 5;
}

#player main .head::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Shoulders */
#player main .shoulder {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: darkslategrey;
    border: 2px solid darkgrey;
    border-radius: 10px;
    z-index: 4;
}

#player main .shoulder.left-shoulder {
    left: -20%;
}

#player main .shoulder.right-shoulder {
    right: -20%;
}


/* Sword */
#player .sword-container {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 50%;
    /* border: 1px solid green; */
    transform-origin: center 125px;
    transform: translate(-50%, 0%) rotate(90deg);
    pointer-events: none;
    user-select: none;
}

#player .sword {
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%) scaleY(-1);
    pointer-events: none;
    user-select: none;
}

.swing_1 {
    animation: swing_1 200ms ease-in-out forwards;
}

.swing_2 {
    animation: swing_2 200ms ease-in-out forwards;
}

.swing_3 {
    animation: swing_3 350ms ease-in-out forwards;
}

@keyframes swing_1 {
    0% {
        transform: translate(-50%, 0%) rotate(90deg);
    }
    100% {
        transform: translate(-50%, 0%) rotate(-120deg);
    }
}

@keyframes swing_2 {
    0% {
        transform: translate(-50%, 0%) rotate(-120deg);
    }
    /* 50%{
        transform: translate(-50%, -20%) rotate(0deg);
    } */
    100% {
        transform: translate(-50%, 0%) rotate(120deg);
    }
}

@keyframes swing_3 {
    0% {
        transform: translate(-50%, 0%) rotate(120deg);
    }
    100% {
        transform: translate(-50%, 0%) rotate(450deg);
    }
}
