.projectile {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #ff9a00;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 0 #ffe808;
}